@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&subset=latin-ext");
@import url("https://file.myfontastic.com/QAGQqgNmKxCaYrC8P3BsjA/icons.css");
* {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 16px; }

body {
  font-family: "Lato";
  line-height: 1.45em; }

p {
  margin-bottom: 1.3em; }

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2em; }

h1 {
  margin-top: 0; }

@media (min-width: 1024px) {
  h1 {
    font-size: 52px; }
  h2 {
    font-size: 42px; }
  h3 {
    font-size: 32px; }
  h4 {
    font-size: 22px; }
  h5 {
    font-size: 16px; }
  h6 {
    font-size: 13px; } }

@media (min-width: 640px) {
  h1 {
    font-size: 42px; }
  h2 {
    font-size: 37px; }
  h3 {
    font-size: 32px; }
  h4 {
    font-size: 17px; }
  h5 {
    font-size: 14px; }
  h6 {
    font-size: 12px; } }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.text-center {
  text-align: center !important; }

@media (min-width: 640px) {
  .medium-text-left {
    text-align: left !important; }
  .medium-text-right {
    text-align: right !important; }
  .medium-text-center {
    text-align: center !important; } }

@media (min-width: 1024px) {
  .large-text-left {
    text-align: left !important; }
  .large-text-right {
    text-align: right !important; }
  .large-text-center {
    text-align: center !important; } }

@media (min-width: 1200px) {
  .xlarge-text-left {
    text-align: left !important; }
  .xlarge-text-right {
    text-align: right !important; }
  .xlarge-text-center {
    text-align: center !important; } }

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px; }
  .container.fluid {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px; }
  .container.full {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0; }

.row {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box; }
  .row.row-margin {
    margin-left: -10px;
    margin-right: -10px; }
    .row.row-margin > .cell {
      padding-left: 10px;
      padding-right: 10px; }

.cell {
  flex: 0 0 auto;
  min-height: 0px;
  min-width: 0px; }

.row > .cell {
  flex-basis: auto; }

.small-1 {
  width: 8.33333%; }

.small-offset-1 {
  margin-left: 8.33333%; }

.small-2 {
  width: 16.66667%; }

.small-offset-2 {
  margin-left: 16.66667%; }

.small-3 {
  width: 25%; }

.small-offset-3 {
  margin-left: 25%; }

.small-4 {
  width: 33.33333%; }

.small-offset-4 {
  margin-left: 33.33333%; }

.small-5 {
  width: 41.66667%; }

.small-offset-5 {
  margin-left: 41.66667%; }

.small-6 {
  width: 50%; }

.small-offset-6 {
  margin-left: 50%; }

.small-7 {
  width: 58.33333%; }

.small-offset-7 {
  margin-left: 58.33333%; }

.small-8 {
  width: 66.66667%; }

.small-offset-8 {
  margin-left: 66.66667%; }

.small-9 {
  width: 75%; }

.small-offset-9 {
  margin-left: 75%; }

.small-10 {
  width: 83.33333%; }

.small-offset-10 {
  margin-left: 83.33333%; }

.small-11 {
  width: 91.66667%; }

.small-offset-11 {
  margin-left: 91.66667%; }

.small-12 {
  width: 100%; }

.small-offset-12 {
  margin-left: 100%; }

@media (min-width: 640px) {
  .medium-1 {
    width: 8.33333%; }
  .medium-offset-1 {
    margin-left: 8.33333%; }
  .medium-2 {
    width: 16.66667%; }
  .medium-offset-2 {
    margin-left: 16.66667%; }
  .medium-3 {
    width: 25%; }
  .medium-offset-3 {
    margin-left: 25%; }
  .medium-4 {
    width: 33.33333%; }
  .medium-offset-4 {
    margin-left: 33.33333%; }
  .medium-5 {
    width: 41.66667%; }
  .medium-offset-5 {
    margin-left: 41.66667%; }
  .medium-6 {
    width: 50%; }
  .medium-offset-6 {
    margin-left: 50%; }
  .medium-7 {
    width: 58.33333%; }
  .medium-offset-7 {
    margin-left: 58.33333%; }
  .medium-8 {
    width: 66.66667%; }
  .medium-offset-8 {
    margin-left: 66.66667%; }
  .medium-9 {
    width: 75%; }
  .medium-offset-9 {
    margin-left: 75%; }
  .medium-10 {
    width: 83.33333%; }
  .medium-offset-10 {
    margin-left: 83.33333%; }
  .medium-11 {
    width: 91.66667%; }
  .medium-offset-11 {
    margin-left: 91.66667%; }
  .medium-12 {
    width: 100%; }
  .medium-offset-12 {
    margin-left: 100%; } }

@media (min-width: 1024px) {
  .large-1 {
    width: 8.33333%; }
  .large-offset-1 {
    margin-left: 8.33333%; }
  .large-2 {
    width: 16.66667%; }
  .large-offset-2 {
    margin-left: 16.66667%; }
  .large-3 {
    width: 25%; }
  .large-offset-3 {
    margin-left: 25%; }
  .large-4 {
    width: 33.33333%; }
  .large-offset-4 {
    margin-left: 33.33333%; }
  .large-5 {
    width: 41.66667%; }
  .large-offset-5 {
    margin-left: 41.66667%; }
  .large-6 {
    width: 50%; }
  .large-offset-6 {
    margin-left: 50%; }
  .large-7 {
    width: 58.33333%; }
  .large-offset-7 {
    margin-left: 58.33333%; }
  .large-8 {
    width: 66.66667%; }
  .large-offset-8 {
    margin-left: 66.66667%; }
  .large-9 {
    width: 75%; }
  .large-offset-9 {
    margin-left: 75%; }
  .large-10 {
    width: 83.33333%; }
  .large-offset-10 {
    margin-left: 83.33333%; }
  .large-11 {
    width: 91.66667%; }
  .large-offset-11 {
    margin-left: 91.66667%; }
  .large-12 {
    width: 100%; }
  .large-offset-12 {
    margin-left: 100%; } }

@media (min-width: 1200px) {
  .xlarge-1 {
    width: 8.33333%; }
  .xlarge-offset-1 {
    margin-left: 8.33333%; }
  .xlarge-2 {
    width: 16.66667%; }
  .xlarge-offset-2 {
    margin-left: 16.66667%; }
  .xlarge-3 {
    width: 25%; }
  .xlarge-offset-3 {
    margin-left: 25%; }
  .xlarge-4 {
    width: 33.33333%; }
  .xlarge-offset-4 {
    margin-left: 33.33333%; }
  .xlarge-5 {
    width: 41.66667%; }
  .xlarge-offset-5 {
    margin-left: 41.66667%; }
  .xlarge-6 {
    width: 50%; }
  .xlarge-offset-6 {
    margin-left: 50%; }
  .xlarge-7 {
    width: 58.33333%; }
  .xlarge-offset-7 {
    margin-left: 58.33333%; }
  .xlarge-8 {
    width: 66.66667%; }
  .xlarge-offset-8 {
    margin-left: 66.66667%; }
  .xlarge-9 {
    width: 75%; }
  .xlarge-offset-9 {
    margin-left: 75%; }
  .xlarge-10 {
    width: 83.33333%; }
  .xlarge-offset-10 {
    margin-left: 83.33333%; }
  .xlarge-11 {
    width: 91.66667%; }
  .xlarge-offset-11 {
    margin-left: 91.66667%; }
  .xlarge-12 {
    width: 100%; }
  .xlarge-offset-12 {
    margin-left: 100%; } }

.small-order-1 {
  order: 1; }

.small-order-2 {
  order: 2; }

.small-order-3 {
  order: 3; }

.small-order-4 {
  order: 4; }

.small-order-5 {
  order: 5; }

.small-order-6 {
  order: 6; }

.small-order-7 {
  order: 7; }

.small-order-8 {
  order: 8; }

.small-order-9 {
  order: 9; }

.small-order-10 {
  order: 10; }

.small-order-11 {
  order: 11; }

.small-order-12 {
  order: 12; }

@media (min-width: 640px) {
  .medium-order-1 {
    order: 1; }
  .medium-order-2 {
    order: 2; }
  .medium-order-3 {
    order: 3; }
  .medium-order-4 {
    order: 4; }
  .medium-order-5 {
    order: 5; }
  .medium-order-6 {
    order: 6; }
  .medium-order-7 {
    order: 7; }
  .medium-order-8 {
    order: 8; }
  .medium-order-9 {
    order: 9; }
  .medium-order-10 {
    order: 10; }
  .medium-order-11 {
    order: 11; }
  .medium-order-12 {
    order: 12; } }

@media (min-width: 1024px) {
  .large-order-1 {
    order: 1; }
  .large-order-2 {
    order: 2; }
  .large-order-3 {
    order: 3; }
  .large-order-4 {
    order: 4; }
  .large-order-5 {
    order: 5; }
  .large-order-6 {
    order: 6; }
  .large-order-7 {
    order: 7; }
  .large-order-8 {
    order: 8; }
  .large-order-9 {
    order: 9; }
  .large-order-10 {
    order: 10; }
  .large-order-11 {
    order: 11; }
  .large-order-12 {
    order: 12; } }

@media (min-width: 1200px) {
  .xlarge-order-1 {
    order: 1; }
  .xlarge-order-2 {
    order: 2; }
  .xlarge-order-3 {
    order: 3; }
  .xlarge-order-4 {
    order: 4; }
  .xlarge-order-5 {
    order: 5; }
  .xlarge-order-6 {
    order: 6; }
  .xlarge-order-7 {
    order: 7; }
  .xlarge-order-8 {
    order: 8; }
  .xlarge-order-9 {
    order: 9; }
  .xlarge-order-10 {
    order: 10; }
  .xlarge-order-11 {
    order: 11; }
  .xlarge-order-12 {
    order: 12; } }

.scroll-content {
  display: inline-block;
  width: 100%; }

.scroll-content + .scroll-bar {
  display: inline-block;
  width: 12px;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0, 1, 1, 1); }

.scroll-content + .scroll-bar:hover, .scroll-content + .scroll-bar.scroll-active {
  opacity: 1; }

.scroll-content + .scroll-bar > .bar {
  width: 10px;
  margin: 0 1px;
  background: rgba(0, 0, 0, 0.3);
  opacity: .8;
  border-radius: 16px;
  overflow: hidden;
  transition: background .3s ease-in-out; }
  .scroll-content + .scroll-bar > .bar:hover {
    opacity: 1; }
  .scroll-content + .scroll-bar > .bar:active {
    opacity: 1;
    background: rgba(0, 0, 0, 0.5); }

.modal {
  position: fixed;
  display: none;
  width: 800px;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  right: 0;
  top: 0;
  margin: 1.75rem auto;
  background: #fff;
  color: initial;
  text-align: left;
  z-index: 2; }

.modal + .modal-backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1; }

.tooltip {
  position: absolute;
  background: #232F34;
  font-size: 12px;
  border-radius: 2px;
  padding: 3px 8px; }

body {
  background: #fcfcfc;
  color: #222222; }
  body.body-front-page header {
    color: #fff; }
    body.body-front-page header a {
      color: #fff; }
    body.body-front-page header .search-algolia input {
      color: #fff; }
      body.body-front-page header .search-algolia input::placeholder {
        color: #fff; }

a {
  color: #222222; }

main {
  position: relative;
  z-index: 1; }

header {
  position: absolute;
  width: 100%;
  z-index: 2;
  padding: 0 30px;
  background: transparent;
  position: fixed;
  color: #222222;
  transition: all .2s ease-in-out; }
  header.scrolled {
    background: #41338C;
    color: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2); }
    header.scrolled a {
      color: #fff; }
    header.scrolled .search-algolia input {
      color: #fff; }
      header.scrolled .search-algolia input::placeholder {
        color: #fff; }
  header .logo {
    display: inline-block;
    padding: 16px 0; }
    header .logo img {
      height: 41px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 15px; }
    header .logo span {
      display: inline-block;
      vertical-align: middle;
      font-size: 1.375rem;
      font-weight: 300;
      line-height: 41px; }
  header nav {
    padding: 24px 0; }
    header nav a {
      display: inline-block;
      vertical-align: middle;
      font-size: 15px;
      text-decoration: none; }
      header nav a img {
        display: block; }
      header nav a:nth-child(1n+2) {
        margin-left: 15px; }
      header nav a.stars {
        margin-left: 25px; }
    header nav .search-algolia {
      display: inline-block;
      vertical-align: middle;
      margin-left: 25px;
      background: rgba(0, 0, 0, 0.15);
      border-radius: 4px; }
      header nav .search-algolia input {
        font-family: "Lato";
        font-size: 15px;
        background: transparent;
        border: 0;
        outline: 0;
        height: 35px;
        padding: 0 15px; }
        header nav .search-algolia input::placeholder {
          color: #222222;
          opacity: 1; }

section h1, section h2, section h3 {
  font-weight: 300; }

section .button {
  background: #222222;
  color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  display: inline-block;
  font-weight: bold;
  font-size: .8125rem;
  padding: 10px 32px;
  letter-spacing: 0;
  text-transform: uppercase;
  text-decoration: none; }
  section .button.primary {
    background: #AD2383; }

section .button + .button {
  margin-left: 20px; }

section.home {
  position: relative;
  padding-top: 120px;
  padding-bottom: 120px; }
  section.home.top {
    min-height: 90vh;
    padding-top: 130px;
    padding-bottom: 110px;
    color: #fff; }
    section.home.top::before {
      content: '';
      position: absolute;
      left: -70px;
      top: -160px;
      height: calc(100% + 200px);
      width: calc(100% + 140px);
      transform: rotate(-2.5deg);
      background: #41338C;
      z-index: 1; }
    section.home.top .container {
      position: relative;
      z-index: 2; }
    section.home.top .logo {
      height: 35vh;
      text-align: center;
      margin-bottom: 35px; }
      section.home.top .logo img {
        height: 100%; }
    section.home.top .info {
      text-align: center; }
      section.home.top .info h1 {
        font-size: 2.875rem;
        margin-bottom: 6px; }
      section.home.top .info h2 {
        font-size: 1rem;
        margin-top: 6px; }
      section.home.top .info ul.features {
        margin-top: 25px; }
        section.home.top .info ul.features li {
          display: inline-block; }
          section.home.top .info ul.features li i {
            margin-right: 12px;
            display: inline-block;
            vertical-align: middle;
            font-size: 22px;
            line-height: 22px; }
          section.home.top .info ul.features li span {
            display: inline-block;
            vertical-align: middle;
            font-family: Monaco;
            font-size: .875rem; }
          section.home.top .info ul.features li:nth-child(1n+2) {
            margin-left: 35px; }
  section.home.why h3 {
    margin-bottom: 25px; }
  section.home.why .buttons {
    margin-top: 80px; }
  section.home.crafted {
    text-align: center;
    color: #fff; }
    section.home.crafted::before {
      content: '';
      position: absolute;
      left: -70px;
      top: 0;
      height: calc(100%);
      width: calc(100% + 140px);
      transform: rotate(2.5deg);
      background: #AD2383;
      z-index: 1; }
    section.home.crafted .container {
      position: relative;
      z-index: 2; }
    section.home.crafted h3 {
      margin-top: 0; }
    section.home.crafted .items {
      margin-top: 15px; }
      @media (min-width: 1024px) {
        section.home.crafted .items {
          margin-top: 75px; } }
      section.home.crafted .items i {
        font-size: 51px;
        line-height: 51px;
        display: block;
        margin-bottom: 16px;
        margin-top: 30px; }
        @media (min-width: 1024px) {
          section.home.crafted .items i {
            margin-top: 0; } }
      section.home.crafted .items span {
        font-weight: 300;
        font-size: 1.375rem; }

section.docs {
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  box-sizing: border-box;
  min-height: 100vh;
  margin-bottom: -98px; }
  section.docs aside {
    background: #f7f7f7;
    padding: 120px 30px 0;
    width: 300px;
    margin-left: -300px;
    transition: margin .5s ease-in-out;
    flex: none; }
    section.docs aside.expanded {
      margin-left: 0; }
    section.docs aside .sep {
      font-size: 13px;
      text-transform: uppercase;
      margin: 30px 0 10px;
      color: #AD2383;
      font-weight: 800; }
    section.docs aside ul li {
      margin-bottom: 5px; }
      section.docs aside ul li a {
        text-decoration: none; }
      section.docs aside ul li.current a {
        text-decoration: underline;
        font-weight: 600; }
    section.docs aside ul ul {
      padding-left: 14px;
      margin-bottom: 15px; }
      section.docs aside ul ul li a {
        font-size: 0.875rem; }
  section.docs .wrapper {
    padding-top: 120px;
    padding-bottom: 120px;
    flex-grow: 1;
    width: 100%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px; }
    section.docs .wrapper h3:before {
      content: '';
      display: block;
      position: relative;
      width: 0;
      height: 100px;
      margin-top: -100px; }
    section.docs .wrapper table {
      width: 100%; }
      section.docs .wrapper table thead tr {
        background: #ededed; }
        section.docs .wrapper table thead tr th {
          padding: 10px 13px; }
      section.docs .wrapper table tr {
        background: whitesmoke; }
        section.docs .wrapper table tr:nth-child(2n) {
          background: #f2f2f2; }
      section.docs .wrapper table td {
        padding: 6px 13px;
        vertical-align: middle; }
        section.docs .wrapper table td code {
          background: transparent;
          padding: 0;
          margin: 0; }
    section.docs .wrapper .grid-example .cell .box {
      background: #41338C;
      padding: 10px 12px; }
    section.docs .wrapper .grid-example .cell:nth-child(2n) .box {
      background: #302567; }
    section.docs .wrapper div.code {
      border-radius: 6px;
      overflow: hidden;
      background: #f2f2f2;
      padding: 5px; }
      section.docs .wrapper div.code figure.highlight {
        margin: 0; }
      section.docs .wrapper div.code .preview {
        width: 100%;
        padding: 30px 20px;
        background: #fcfcfc;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px; }
        section.docs .wrapper div.code .preview .row > .cell > div {
          background: #41338C;
          padding: .75rem;
          color: #fff; }
    section.docs .wrapper code {
      background: #f2f2f2;
      border-radius: 3px;
      display: inline-block;
      padding: 3px 9px;
      font-family: 'Menlo';
      font-size: .875rem;
      font-weight: normal; }
    section.docs .wrapper p code {
      margin: 0 3px; }
    section.docs .wrapper figure.highlight {
      background: #f2f2f2;
      border-radius: 3px;
      overflow-x: auto;
      line-height: 1.1em;
      position: relative;
      padding: 15px 0;
      font-size: .875rem;
      line-height: 1.4rem;
      margin: 10px 0 20px; }
      section.docs .wrapper figure.highlight .comment, section.docs .wrapper figure.highlight .quote {
        color: #9c9491; }
      section.docs .wrapper figure.highlight .variable, section.docs .wrapper figure.highlight .template-variable, section.docs .wrapper figure.highlight .attribute, section.docs .wrapper figure.highlight .name, section.docs .wrapper figure.highlight .regexp, section.docs .wrapper figure.highlight .link, section.docs .wrapper figure.highlight .name, section.docs .wrapper figure.highlight .selector-id, section.docs .wrapper figure.highlight .selector-class {
        color: #AD2383; }
      section.docs .wrapper figure.highlight .number, section.docs .wrapper figure.highlight .meta, section.docs .wrapper figure.highlight .built_in, section.docs .wrapper figure.highlight .builtin-name, section.docs .wrapper figure.highlight .literal, section.docs .wrapper figure.highlight .type, section.docs .wrapper figure.highlight .params, section.docs .wrapper figure.highlight .tag {
        color: #222222; }
      section.docs .wrapper figure.highlight .string, section.docs .wrapper figure.highlight .symbol, section.docs .wrapper figure.highlight .bullet {
        color: #9e73cc; }
      section.docs .wrapper figure.highlight .title, section.docs .wrapper figure.highlight .section {
        color: #407ee7; }
      section.docs .wrapper figure.highlight .keyword, section.docs .wrapper figure.highlight .selector-tag {
        color: #6666ea; }
      section.docs .wrapper figure.highlight .emphasis {
        font-style: italic; }
      section.docs .wrapper figure.highlight .strong {
        font-weight: bold; }
      section.docs .wrapper figure.highlight table {
        width: 100%;
        border-collapse: collapse;
        padding: 0; }
        section.docs .wrapper figure.highlight table tr {
          background: transparent; }
      section.docs .wrapper figure.highlight td.gutter {
        width: 40px;
        text-align: center; }
      section.docs .wrapper figure.highlight td.code > div {
        overflow-x: auto; }
      section.docs .wrapper figure.highlight pre {
        font-family: 'Menlo'; }

footer {
  padding: 0 30px 20px;
  position: relative;
  z-index: 3; }
  footer .crafted {
    display: inline-block;
    margin-top: 15px; }
    footer .crafted img {
      height: 55px; }
  footer .copy {
    padding: 50px 0 0; }
