<header>
  <div class="container full">
    <div class="row">
      <div class="small-12 large-6 cell">
        <a class="logo" href="<%- url_for('/') %>"><% if (!is_home()) { %><%- image_tag('images/logo.svg') %><% } %><span>fluide</span></a>
      </div>
      <div class="small-12 large-6 cell text-right">
        <nav>
          <a class="nav-icon"></a>
          <% for (var i in theme.menu){ %>
            <a class="main-nav-link" href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
          <% } %>
          <a href="https://github.com/nerdslabs/fluide" class="stars" target="_blank"><img src="https://img.shields.io/github/stars/nerdslabs/fluide.svg?style=social&label=Stars"></a>
          <div class="search-algolia"><input type="text" placeholder="Search..."></div>
        </nav>
      </div>
    </div>
  </div>
</header>