@mixin scrollbar-default() {
  .scroll-content {
    display: inline-block;
    width: 100%;
  }

  .scroll-content + .scroll-bar {
    display: inline-block;
    width: 12px;
    overflow: hidden;
    opacity: 0;
    transition: opacity .5s cubic-bezier(0, 1, 1, 1);
  }

  .scroll-content + .scroll-bar:hover, .scroll-content + .scroll-bar.scroll-active {
    opacity: 1;
  }

  .scroll-content + .scroll-bar { 
    & > .bar {
      width: 10px;
      margin: 0 1px;
      background: rgba(0, 0, 0, .3);
      opacity: .8;
      border-radius: 16px;
      overflow: hidden;
      transition: background .3s ease-in-out;

      &:hover {
        opacity: 1;
      }

      &:active {
        opacity: 1;
        background: rgba(0, 0, 0, .5);
      }
    }
  }
}