{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["last 2 versions", "> 5%"]
      }
    }]
  ],
  "plugins": [
    "external-helpers",
    "transform-object-assign"
  ]
}