<section class="home top">
  <div class="container">
    <div class="logo">
      <%- image_tag('images/logo.svg') %>
    </div>
    <div class="info">
      <h1><%= config.title %></h1>
      <h2><%= theme.subtitle %></h2>
      <ul class="features">
        <li><i class="ic-lightning"></i><span class="replace-size">3.67kb (gzip)</span></li>
        <li><i class="ic-module"></i><span>modular</span></li>
      </ul>
    </div>
  </div>
</section>
<section class="home why">
  <div class="container">
    <div class="row">
      <div class="small-12 large-8 cell">
        <h3>Why next framework?</h3>
        <p>Yes, I know, next front-end framework 😊 but reason is simple, I have been working in frontend development for a few years, and after this years I can say, all popular frameworks have too many features. That's why I started thinking, what can I do, and result was: </p>
        <p><strong>"Make simple, fluid and lightway framework"</strong></p>
        <p></p>
        <div class="buttons"><a href="https://github.com/nerdslabs/fluide/releases" class="button primary">Download</a><a href="<%- url_for('/docs') %>" class="button">Documentation</a></div>
      </div>
      <div class="small-12 large-4 cell"></div>
    </div>
  </div>
</section>
<section class="home crafted">
  <div class="container">
    <h3>Crafted with new solutions</h3>
    <div class="row">
      <div class="small-12 large-8 large-offset-2 cell">
        <p></p>
      </div>
    </div>
    <div class="row items">
      <div class="small-12 large-4 cell"><i class="ic-grid"></i><span>Flexbox Grid</span></div>
      <div class="small-12 large-4 cell"><i class="ic-sass"></i><span>SCSS Base</span></div>
      <div class="small-12 large-4 cell"><i class="ic-ts"></i><span>TypeScript</span></div>
    </div>
  </div>
</section>