@mixin scrollbar {
  .scrollbar {
    overflow: hidden;
    display: inline-block;
    width: 100%;
  }

  .scrollbar + .scrollbar-handler {
    display: inline-block;
    width: 12px;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.5s cubic-bezier(0, 1, 1, 1);
  }

  .scrollbar + .scrollbar-handler:hover, .scrollbar + .scrollbar-handler.scroll-active {
    opacity: 1;
  }

  .scrollbar + .scrollbar-handler > .bar {
    width: 10px;
    margin: 0 1px;
    background: rgba(0, 0, 0, 0.3);
    opacity: .8;
    border-radius: 16px;
    overflow: hidden;
    transition: background .3s ease-in-out;

    &:hover {
      opacity: 1;
    }

    &:active {
      opacity: 1;
      background: rgba(0, 0, 0, 0.5);
    }
  }
}
