.comment, .quote {
  color: #9c9491;
}

.variable, .template-variable, .attribute, .name, .regexp, .link, .name, .selector-id, .selector-class {
  color: $accent;
}

.number, .meta, .built_in, .builtin-name, .literal, .type, .params, .tag {
  color: #fff;
}

.string, .symbol, .bullet {
  color: lighten(adjust-hue($primary, 20%), 25%);
}

.title, .section {
  color: #407ee7;
}

.keyword, .selector-tag {
  color: #6666ea;
}

.emphasis {
  font-style: italic;
}

.strong {
  font-weight: bold;
}
