$global-width: 1200px;

$grid-columns: 12 !default;
$grid-column-gutter: 10px !default;

$grid-breakpoints: ( small: 0, medium: 640px, large: 1024px, xlarge: 1200px, xxlarge: 1440px, ) !default;
$grid-breakpoints-classes: ( medium, large, xlarge, ) !default;

$grid-column-width: calc(#{(100% / $grid-columns)} - #{(2 * $grid-column-gutter)});

$grid-order-points: 12 !default;